.default-color0.chart-area-symbol { -fx-background-color: #f33d00da, #ffa07ada; }
.default-color1.chart-area-symbol { -fx-background-color: #f0e68c, #fffacd; }
.default-color2.chart-area-symbol { -fx-background-color: #dda0dd, #d8bfd855; }
 
.default-color0.chart-series-area-line { -fx-stroke: #f0e68c; }
.default-color1.chart-series-area-line { -fx-stroke: #f0e68c; }
.default-color2.chart-series-area-line { -fx-stroke: #dda0dd; }
 
.default-color0.chart-series-area-fill { -fx-fill: #ff48007c; }
.default-color1.chart-series-area-fill { -fx-fill: #fffacd00; }
.default-color2.chart-series-area-fill { -fx-fill: #d8bfd855; }